<%- new Importer(locals) .viewport() .both('tracking/faq') .get(); %>


<div class="all">
    <h2>Como Podemos Ajudar?</h2>
    <p>É super normal na hora de fazermos uma comprinha gerar alguma dúvida, até porque nenhum site é igual ao outro,
        nao é mesmo?
        <br> Por isso separamos aqui algumas perguntas realizadas com muita frequência por quem já comprou nossos
        produtinhos
        <br> Esperamos que ajude!
    </p>

    <div class="be-content">

        <div>
            <h3 class="click" id="one">Cadastro</h3>
            <div class="inner" id="one">

                <h4 class="topic">Como me cadastro?</h4>
                <div class="card-topic">
                    <p>Antes de você realizar a sua compra, faça o seu cadastro!
                        Para isso, siga as instruções abaixo:</p>
                    <ul class="list-info">
                        <li>Entre no site e vá até no canto direito superior da página e clique em “CADASTRAR-SE”.</li>
                        <li>Lá você deve colocar os seus dados!</li>
                        <li>Após colocar os seus dados, clique em “ENVIAR”.</li>
                        <li>Com isso, o site irá te direcionar para a página inicial, onde você deve ir até no canto
                            direito superior e clicar em “MINHA CONTA”.</li>
                        <li>Depois de clicar em “MINHA CONTA” você deve clicar em “MEU ENDEREÇO” e veicular o seu
                            endereço atual.</li>
                        <li>Com isso seu cadastro está pronto e completo!</li>
                    </ul>
                </div>

                <h4 class="topic">Meu cadastro está bloqueado. Por que?</h4>
                <div class="card-topic">
                    <p> <b>1</b> - Pode ocorrer por várias tentativas de finalização no cartão, porém sem sucesso.
                        <br><b>*</b>Verifique se o nome do titular está exatamente como impresso no cartão.
                        Não pode haver espaços no campo de número do cartão.
                        O cadastro no site precisa ser de preferência no nome do titular do cartão.
                    </p>

                    <p> <b>2</b> - Esse processo também ocorre quando 2 ou mais pedidos estao cancelados por falta de
                        pagamento dos boletos.
                    </p>

                    <p> <b>3</b> - Pode ser também que o sistema tenha verificado uma possível fraude, bloqueando o seu
                        cadastro por segurança.
                        O bloqueio pode ser devido a um e-mail duvidoso(suspeito), cadastros recentes com muitos pedidos
                        em um curto período de
                        tempo ou um endereço de entrega que ocorrem muitas tentativas de fraudes.
                    </p>
                </div>

                <h4 class="topic">Como faço para desbloquear?</h4>
                <div class="card-topic">
                    <p>É só enviar um e-mail para o <a
                            href="mailto:atendimento@boutiqueinfantil.com.br">atendimento@boutiqueinfantil.com.br</a>
                        informando o seu CPF de cadastro e pedindo o desbloqueio
                        ou ligar em nossa Central de Atendimento que uma de nossas atendentes irá liberar o seu
                        cadastro.
                    </p>
                </div>

                <h4 class="topic">Finalizei a compra e foi com o endereço antigo. E agora?</h4>
                <div class="card-topic">
                    <p>Entre em contato conosco pela nossa Central de Atendimento telefônico para nos informar o quanto
                        antes, pois alterações
                        no endereço do pedido já finalizado só podem ser feitas pela loja.
                        Para que isso não aconteça novamente, exclua o endereço antigo dentro do seu cadastro.
                    </p>
                </div>
            </div>
        </div>

        <div>

            <h3 class="click" id="two">Promoção</h3>
            <div class="inner" id="two">

                <!-- <h4 class="topic">Como participar?</h4>
                    <div class="card-topic">
                        <p>Para participar de nossas promoções, você deverá realizar os seguintes passos:</p>
                    </div> -->

                <h4 class="topic">Como utilizar o cupom da promoção?</h4>
                <div class="card-topic">
                    <p>Basta seguir o passo a passo abaixo:</p>
                    <ul class="list-info">
                        <li>Entre em seu cadastro;</li>
                        <li>Acesse a página da promoção;</li>
                        <li>Escolha os itens desejados;</li>
                        <li>Copie o código promocional;</li>
                        <li>Clique em seu carrinho;</li>
                        <li>Cole o cupom;</li>
                        <li>Insira o seu CEP;</li>
                        <li>Finalize sua compra;</li>
                    </ul>
                </div>

                <h4 class="topic">As promoções são por tempo ilimitado?</h4>
                <div class="card-topic">
                    <p>Não temos prazos para nossas promoções, porém como temos um grande fluxo de vendas a qualquer
                        momento ela podem estar se
                        encerrando. Por isso, fique sempre de olho em nosso site para não perder nenhuma promoção!
                    </p>
                </div>
            </div>
        </div>

        <div>

            <h3 class="click" id="three">Como Comprar!</h3>
            <div class="inner" id="three">

                <h4 class="topic">Como faço o meu pedido?</h4>
                <div class="card-topic">
                    <p>Para realizar um pedido, basta seguir o passo a passo abaixo:</p>
                    <ul class="list-info">
                        <li>Entre em seu cadastro;</li>
                        <li>Escolha os itens desejados;</li>
                        <li>Clique em seu carrinho e confira os itens selecionados;</li>
                        <li>Se possuir um cupom de desconto, você pode aplicá-lo no campo de “Aplicar cupom”</li>
                        <li>Informe o seu CEP;</li>
                        <li>Clique em “Finalizar Compra”</li>
                        <li>Na página seguinte, verifique se o seu endereço está correto;</li>
                        <li>Escolha a opção de frete desejada;</li>
                        <li>Escolha a forma de pagamento;</li>
                        <li>E enfim, finalize a sua compra!</li>
                    </ul>
                </div>

                <h4 class="topic">Qual o valor do frete?</h4>
                <div class="card-topic">
                    <p>O valor do frete é calculado de acordo com sua região e peso da mercadoria. Para fazer uma
                        simulação, basta informar o
                        CEP de entrega dentro de seu carrinho.
                    </p>
                </div>

                <h4 class="topic">Quais os meios de pagamento?</h4>
                <div class="card-topic">
                    <p>
                        <b>Cartão de Crédito</b> - Mastercard, Diners club, Elo, Hipercard, American Express e Visa.
                        Nosso sistema de cobrança por
                        cartão de crédito é 100% seguro. Os números são criptografados e não ficam armazenados em nosso
                        banco de dados, sendo
                        enviados diretamente para a administradora do cartão de crédito.
                        Você pode fazer o pagamento em até 10x sem juros nos cartões, com parcela mínima no valor de
                        R$20,00.
                    </p>
                    <p>
                        <b>Bancário</b> - Basta imprimir o boleto gerado e pagar em qualquer agência bancária, lotéricas
                        ou internet banking.
                        PAGAMENTOS APÓS O VENCIMENTO DO BOLETO NÃO DARÃO SEGUIMENTO NO SISTEMA.
                        Ambas as formas podem levar até 48hrs para compensação (confirmação de pagamento);
                    </p>
                </div>

                <h4 class="topic">Qual o prazo de entrega?</h4>
                <div class="card-topic">
                    <p>O prazo de entrega do pedido varia de acordo com o endereço de entrega. A Boutique Infantil
                        atende todo o Brasil com uma
                        parceria de logística de transportadoras conveniadas.
                        Nossos prazos de entrega podem variar dependendo da opção de transporte escolhido. Será
                        informado o valor e as opções de
                        prazos de entrega ao inserir o(s) produto(s) que deseja no carrinho e preencher o CEP de
                        destino.

                        <b>Lembre-se, o prazo de entrega começa a ser considerado somente após a coleta da
                            transportadora em nossa loja.</b>
                    </p>
                </div>

                <h4 class="topic">Coloquei meus itens no carrinho. Eles já estão reservados?</h4>
                <div class="card-topic">
                    <p>Assim que você finaliza a compra seus itens ficam reservados por até 1 dia útil, esperando o
                        pagamento do pedido
                        compensar. Caso ocorra do pedido não ser pago a compra é cancelada automaticamente e os itens
                        voltam para o estoque!
                    </p>
                </div>

                <h4 class="topic">Posso comprar em atacado?</h4>
                <div class="card-topic">
                    <p>Pode sim! Para obter o desconto de atacado, basta aplicar o cupom “REVENDABOUTIQUE” nas compras
                        acima de R$1.500,00,
                        você receberá 10% de desconto + frete grátis!
                        O valor individual dos produtos não será alterado, o desconto será aplicado somente ao valor
                        total.
                    </p>
                </div>
            </div>
        </div>

        <div>

            <h3 class="click" id="four">Meu Pedido</h3>
            <div class="inner" id="four">

                <h4 class="topic">Paguei no boleto. Tenho prioridade na entrega?</h4>
                <div class="card-topic">
                    <p>Não, compras no boleto ou no cartão não possuem prioridades na separação ou entrega. O prazo de
                        separação é padrão para
                        todos os pedidos e o prazo de entrega será aquele selecionado no momento da compra.

                        O prazo para a aprovação do pagamento é de 48h úteis para compras no boleto e também em cartões
                        de crédito!</p>
                </div>

                <h4 class="topic">Quantos dias demora para ser despachado?</h4>
                <div class="card-topic">
                    <p>O prazo para o despacho de mercadorias é de 2 dias úteis após confirmação de pagamento.</p>
                </div>

                <h4 class="topic">Como acompanhar o meu pedido?</h4>
                <div class="card-topic">
                    <p>Para você acompanhar o seu pedido, basta entrar em nosso link de rastreamento a seguir e digitar
                        o número do seu pedido
                        no campo informativo: https://www.boutiqueinfantil.com.br/rastreio.
                        Você também pode rastrear o seu pedido entrando em sua conta no site, indo até “MINHA CONTA”,
                        clicando em “MEUS PEDIDOS”
                        e acompanhando a sua compra pelo status do seu pedido!</p>
                </div>

                <h4 class="topic">Qual o código de rastreamento?</h4>
                <div class="card-topic">
                    <p>O código de rastreamento sempre será o número do seu pedido! Caso você perca este número, você
                        deve entrar em sua conta
                        no site, ir até “MINHA CONTA”, clicar em “MEUS PEDIDOS” e lá estará informando o número do seu
                        pedido!</p>
                </div>

                <h4 class="topic">Atenção com a entrega!</h4>
                <div class="card-topic">
                    <p>Confira sempre se o pacote está em perfeito estado antes de assinar o recebimento. Pois a sua
                        assinatura indica que
                        recebeu a mercadoria em perfeito estado.

                        Caso tenha algo suspeito em seu pacote (fitas, rasgos ou sinal de avaria), negue o recebimento e
                        informe a Central de
                        Atendimento sobre o ocorrido.</p>
                </div>

                <h4 class="topic">Troca e devolução!</h4>
                <div class="card-topic">
                    <p>Lorem</p>
                </div>
            </div>
        </div>
    </div>
</div>