<%-Imp.css('products-widget')%>
<%-Imp.js('products-widget')%>
<%-Imp.jQuery()%>

<div class="scu-grid"></div>

<script type="text/javascript">
$(document).ready(() => {
  new ProductShareWidget('<%=locals.sku%>').loadNext();
});
</script>
