<%-Imp.jQuery()%>
<%-Imp.css('products-widget')%>
<%-Imp.js('products-widget', {__sku: locals.sku, __limit: locals.limit, __host: global.host})%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="scu-holder"><div class="scu-grid"></div></div>
