
.tracking-sale-content{
  background-color: #fff6f1;
  border-radius: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title{
  text-align: center;
  font-size: 35px;
  color: #ff8092;
  font-family: 'Varela Round', sans-serif;
}

.tracking-input-group{
  width: 50%;
  position: relative;
  margin: 25px auto 25px auto;
}

.animation{
  width: 40%;
  margin: auto;
}

#sale{
  outline: none;
  border-radius: 15px;
  width: 100%;
  height: 38px;
  font-size: 18px;
  text-align: center;
  border: 3px solid #0092ff4f;
}


#sale:focus::-webkit-input-placeholder{
  color: transparent;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


#go-sale{
  position: absolute;
  right: -10px;
  background: #4ebefb;
  height: 28px;
  width: 28px;
  top: 1px;
  box-shadow: inset 1px 2px 4px rgba(0,0,0,.01), 0 0 8px rgba(0,0,0,.13);
  padding: .5rem 1rem;
  border-radius: 15px;
}

#go-sale:hover{
  cursor: pointer;
  background: #33b0f3;
}

#tracking-content{
  width: 100%;
  height: 90vh;
}

.error-label{
  font-family: 'Varela Round', sans-serif;
  color: red;
  margin-top: 5px;
}

.iframe-holder{
  max-width: 44rem;
  margin: auto;
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .tracking-input-group{
    width: 60%;
  }
}

@media only screen and (max-width: 468px){

  .title{
    font-size: 20px;
    white-space: nowrap;
  }

  .animation{
    width: 90%;
  }

  .tracking-input-group{
    width: 73%;
    z-index: 99;
    right: 10px;
  }

  #sale{
    height: 34px;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
  }

  #go-sale{
    right: -18px;
    height: 29px;
    width: 30px;
    top: -2px;
  }

  .iframe-holder{
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
  }
}
