*{
  box-sizing: content-box;
  line-height: normal;
}

p{
  margin: 0;
}

span, h1{
  font-family: "Open Sans",sans-serif;
}


.logo{
  position: absolute;
  right: 5%;
  width: 10%;
  top: 0;
}

.content{
  width: 60%;
  margin: auto;
  padding: 50px 50px 110px 50px;
  margin-top: 5%;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .content{
    width: 75%;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 468px){
  .logo{
    width: 20%;
    top: -6px;
  }

  .content{
    width: 100%;
    margin-top: 30%;
    padding: 0;
  }
}
