.fudmb{
  width: 100%;
  background: #00000059;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.fudmb .fudm{
  margin: auto;
  background: white;
  padding: 15px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  -webkit-box-shadow: 8px 10px 8px -9px rgba(0,0,0,0.65);
  -moz-box-shadow: 8px 10px 8px -9px rgba(0,0,0,0.65);
  box-shadow: 8px 10px 8px -9px rgba(0,0,0,0.65);
  cursor: pointer;
}

.fudmb .fudc{
  width: 15px;
  height: 15px;
  background-color: #757373;
  border-radius: 50%;
  padding: 3px;
  right: 8px;
  top: 10px;
  position: absolute;
  cursor: pointer;
  display: block;
  z-index: 999999;
  box-sizing: content-box;
}

.fudmb .fudc:hover{
  background-color: #4c4c4c;
}

.fudmb .fudb{
  display: flex;
  position: relative;
  border: 2px dashed #80808085;
  border-radius: 5px;
}

.fudb .fudih{
  flex: 30%;
  position: relative;
}

.fudb .fudih .fudf{
  width: 90%;
  height: 90%;
}

.fudb .fudih > img{
  width: 60px;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.fudmb .fudi{
  padding: 30px 15px;
  flex: 70%;

}


.fudmb .fudi > span{
  font-family: "Varela Round", sans-serif;
  display: block;
  max-width: 500px;
}

.fudmb .fudi .fudt{
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 15px;
}


.fudmb .fudi .fudst{
  color: gray;
}

.fudmb .fudi .fudft{
  margin-top: 5px;
  color: gray;
  font-size: 13px;
}

.fudmb form{
  display: none;
}


.fudfb {
  animation: blinker 2s linear infinite !important;
}


@keyframes blinker {
  0% { opacity: 1.0; }

  30% { opacity: 1; }
  35% { opacity: 0.3; }
  40% { opacity: 1.0; }
  45% { opacity: 0.3; }
  50% { opacity: 1.0; }
}


@media screen and (max-width: 768px) {
  .fudmb .fudm{
    width: 90%;
  }
}
