<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=<%=Params.facebookCommentsAppId()%>"></script>
<div class="fb-comments" data-numposts="8" <%=locals.fullhref ? 'data-href=' + locals.fullhref : ''%>></div>
