<link rel="stylesheet" href="/css\int/links-insta.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="general-content">

    <div class="logo1">
        <img id="logo"src="/img/imglogo.png">
        <div class="logo-title">
            <h3>@boutique.infantil</h3>
            <p>www.boutiqueinfantil.com.br</p>
        </div>
    </div>

      
    <a class="links" href="https://www.boutiqueinfantil.com.br/kit-body-club?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_kitbody_100820" target="_blank">Kit Body</a>

    <a class="links" href=https://www.boutiqueinfantil.com.br/tudo-por-9-90?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_tudo990_100820" target="_blank">Tudo Por R$9,90!</a>
  
    <a class="links" href="https://www.boutiqueinfantil.com.br/conjuntos-verao?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_conjuntosverao_100820"target="_blank">Conjunto Verão Com Cupom</a>

    <a class="links"href="https://www.boutiqueinfantil.com.br/pijamas-inverno?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_pijamas_100820"target="_blank">Pijamas Por R$14,90</a>

    <a class="links"href="https://www.boutiqueinfantil.com.br/meias-e-pantufas?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_meias_100820"target="_blank">Meias e Pantufas</a>

    <a class="links" href="https://www.boutiqueinfantil.com.br/bodies-avulsos?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_bodiesavulso_100820 "target="_blank">Bodies Avulsos</a>
    <div id="rodape">
        <div id="encontre">
            <p>ENCONTRE-NOS AQUI:</p>
        </div>
        <div id="quadro">
            
            <a class="social" href="https://api.whatsapp.com/send?phone=554796860185&text=Ol%c3%a1%21&source=&data="target="_blank"><img src="/img/whatsapp.png"></a>

            <a class="social" href="https://www.boutiqueinfantil.com.br/?utm_source=sm_insta&utm_medium=bio&utm_campaign=link_home_fixo"target="_blank"><img src="/img/instagram.png"></a>

            <a class="social" href="https://www.facebook.com/groups/boutiqueinfantil.ofertas/"target="_blank"><img src="/img/facebook.png"></a>

            <a class="social" href="https://t.me/boutiqueinfantiloficial"target="_blank"><img src="/img/telegram.png"></a>
        
            <a class="social" href="https://blog.boutiqueinfantil.com.br/"target="_blank"><p>Blog</p></a>

            <a class="social" href="https://www.youtube.com/boutiqueinfantil"target="_blank"><img src="/img/youtube.png"></a>
        </div>
    </div>

</div>