.header{
    display: flex;
}

.menu-button{
    width: 40px!important;
}

.header img{
    width: 73px;
    height: 73px;
    border-radius: 50%;
}

.images-holder{
    grid-template-columns: repeat(3, minmax(115px, 1fr));
    grid-gap: 15px;
    display: grid;
}

.links-holder{
    width: fit-content;
}

.images-holder a {
    display:block;
    width: fit-content;
}

.image{
    width: 100px;
}

