.scu-holder{
  position: relative;
  padding-bottom: 50px;
  max-width: 75%;
  padding-top: 20px;
}

.scu-grid{
  columns: 4 100px;
  column-gap: 1rem;
  padding-top: 5px;
}

.scu-grid .item{
  color: white;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
}

.scu-grid .item > img{
  cursor: pointer;
  position: relative;
  width: 100%;
  border-radius: 3px;
  object-fit: cover;
  height: 200px;
  transition: all .2s ease-in-out;
}

.scu-grid .item > img:hover{
  transform: scale(1.06);
}

.scu-load-more{
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10em;
  height: 10em;
  position: relative;
  width: auto;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
}

.scu-load-more > button{
  box-shadow: 0px 7px 14px -7px #696969;
  background-color:white;
  outline: none;
  border-radius:4px;
  border:1px solid #9e9e9e;
  cursor:pointer;
  color:#7a7a7a;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -25%);
  font-size: 13px;
  font-weight:bold;
  padding: 5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

h2.scu-title{
  font-family: "Open Sans",Arial,sans-serif;
  line-height: 1.1;
  font-weight: 100;
  text-transform: none;
  font-size: 24px;
  color: #464646;
  position: relative;
}

.scu-fub{
  right: 0;
  cursor: pointer;
  display: flex;
  position: absolute;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: -35px;
}

.scu-fub:hover{
  background-color: #e8e7e7;
}

.scu-fu{
  width: 28px;
  height: 28px;
}

.scu-ll{
  margin-top: 7px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}


@media screen and (max-width: 768px) {
  .scu-holder{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .scu-ll{
    display: none;
  }

  .scu-grid {
    columns: 2 100px;
  }

  h2.scu-title{
    font-size: 16px;
    font-weight: 500;
  }
}
