.sm-h{
  height: 100%;
  transform: translateX(-100%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8e91f4;
  overflow-x: hidden;
  transition: .5s;
  z-index: 100;
  width: 13%;

  border-radius: 0 25px 23px 0;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

#sm-o{
  box-sizing: border-box;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #ff8092;
  width: 45px;
  padding: 8px;
  border-radius: 8px;
}

#sm-o:hover{
  cursor: pointer;
  background: #ff7488;
}


#sm-c{
  margin-left: auto;
  padding: 10px 10px 10px 0px;
  display: block;
  width: 35px;
  cursor: pointer;
}


.sm-h li{
  padding-left: 25px;
  border-bottom: 1px solid #ffffff63;
  display: flex;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.sm-h li:hover{
  background-color: #ffffff33;
}

.sm-h li p{
  text-align: center;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 14px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sm-h li .sm-i{
  margin: 5px 10px 0px auto;
  width: 28px;
  height: 28px;
}

.sm-h .sm-d{
  cursor: default;
  text-align: center;
  border-bottom: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sm-h .sm-d:hover{
  background: transparent;
}

.sm-h .sm-d p{
  margin: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .sm-h{
    width: 34%;
  }
}

@media only screen and (max-width: 468px){
  .sm-h{
    width: 65%;
  }
}
