<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rastreio de Pedido</title>
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">


  <%-
  new Importer(locals)
  .viewport()
  .jQuery()
  .both('util/side-menu')
  .both('tracking/tracking-page')
  .get();
  %>
</head>

<body>
  <%- include('../parts/waves');%>


  <img class="logo" src="<%=Img.path('logo-v')%>">

  <div class="content"></div>
</body>
</html>
